/* Mobile */
@media only screen and (max-width:46.1875em){
       /* tắt hover header */
       .header #searchic:hover{
        transform: none;
    }
    .header #login:hover,
    .header #home:hover,
    .header .setting:hover{
        background-color: rgba(255, 255, 255, 0.3);
    }
    /* an thanh phan */
    div#logo,.header #login{
        display: none;
    }
    .header div#search-box{
        margin-left: 10px;
        width: 65%;
    }
    .header #search-box #searchip{
        font-size: 15px;
    }
    /* header */
    .header{
        height: 35px;
    }
    .header #search-box #searchic,
    .header #home,
    .header .setting{
        font-size: 15px;
    }
    /* menu-setting */
    .setting .subset{
        margin-top: 13px;
    }
    .setting .subset::before{
    right: 4%;
    top: -14px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid ghostwhite;
    }
    /* kich thuc menu cua setting */
    ul.subset.hide-show{
        font-size: 15px;
        width: 200px;
    }
    /* chu tren slider */
    #slider .text-content{
        bottom: 10px;
    }
    #slider .text-heading,
    #slider .text-descripttion{
        font-size: 15px;
        margin-top: 0;
    }
    /* container */
    .container{
        width: 90%;
    }
    .anpha-fillter a {
        font-size: 15px;
        margin-left: 10px;
    }
    .list-singer{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 0;
    }
    .name-singer{
        font-size: 12px;
    }
}
/* Tablet */
@media only screen and (min-width:46.1875em) and (max-width:63.9375em){
    /* tắt hover header */
    .header #searchic:hover{
        transform: none;
    }
    .header #login:hover,
    .header #home:hover,
    .header .setting:hover{
        background-color: rgba(255, 255, 255, 0.3);
    }
    /* header */
    .header #logo{
        width: 15%;
    }
    .header #search-box{
        width: 40%;
    }
    .header #login{
        white-space: nowrap;
    }
    /* .list-singer */
    .list-singer{
        flex: 0 0 25%;
        max-width: 25%;
    }
    /*  */
}
/* PC */
@media only screen and (min-width:63.9375em){

}